<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Aksel Aisting, veebiprogrammeerimine</title>
</head>
<body>
  <img src="/home/aaisting/public_html/AA_veeb2/images" alt="Kursuse bänner">
  <h1>Aksel Aisting, veebiprogrammeerimine</h1>
  <p>See leht on loodud <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> veebiprogrammeerimise kurusel ja ei oma mõistlikku sisu.</p>
  <hr>
  <ul>


</textarea>
  </form>
</body>
</html>